/* --- TABLE OF CONTENTS ---

    1. GLOBAL STYLES
    2. LETTER GRID STYLES
    3. KEYBOARD STYLES
    4. MISC
        4.1. Title styles
        4.2. End page styles
        4.3. Info page styles

 --- TABLE OF CONTENTS --- */


/* 1. GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --darker: rgb(14, 24, 24);
    --dark: rgb(32, 58, 58);
    --medium: rgb(50, 99, 99);
    --title-bg: rgba(50, 99, 99, 0.5);
    --light: #9fc1c1;

    --green: rgb(85, 150, 85);
    --yellow: rgb(194, 194, 107);
    --gray: rgb(75, 75, 75);

    --kb-gap: 1vmin;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--darker);
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--medium) none;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 10px;
}

.no-select {
    user-select: none;
}

/* 2. LETTER GRID STYLES */
#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

#container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: fit-content;
    max-width: calc(95vw + calc(var(--kb-gap) * 4));
    height: fit-content;
    gap: 5px;
    top: 4vh;
}

.letter {
    height: 9vh;
    max-width: 18vw;
    max-height: 18vw;
    line-height: calc(9vh - 10px);
    border: 5px solid var(--dark);
    color: var(--light);
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    font-size: 6vh;
}

/* 3. KEYBOARD STYLES */
#keyboard-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#keyboard {
    position: relative;
    bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--kb-gap);
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: var(--kb-gap);
    width: 95%;
}

.key {
    width: 10%;
    max-width: 10vh;
    background-color: var(--dark);
    outline: none;
    border: none;
    border-radius: 1vmin;
    color: var(--light);
    font-weight: bold;
    font-size: 1.6vmax;
    cursor: pointer;
}

.key:hover {
    opacity: .3;
    transition: 150ms ease-in-out;
}

.long {
    width: 15%;
}

.long span {
    display: flex;
    font-size: 2.5vmax;
    justify-content: center;
}

.empty {
    width: 5%;
}

/* 4. MISC STYLES */

/* 4.1. Title styles */
#title {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    opacity: 0;

    width: max-content;
    padding: 20px 60px;
    background-color: var(--medium);
    color: var(--light);
    font-size: 25px;
    font-family: 'Arial';
    z-index: 1000;
    border-radius: 10px;
}

/* 4.2. End page styles */
#end-page {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    padding: 40px;
    width: 40%;
    min-height: 40%;
    background-color: rgba(12, 12, 12, 0.9);
    box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 40px;
}

#end-page p {
    margin: 0;
}

#end-page span {
    color: var(--green);
    font-weight: bold;
}

#end-page a {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
}

#end-page
a:hover,
a:focus {
    text-decoration: underline;
}

/* 4.3. Info page styles */
div.info-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 3vh;
    right: 30px;
    top: 20px;
    padding: 5px;
}

div.info-btn button {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto Mono', monospace;
    color: var(--medium);
    border: none;
    outline: none;
    background: none;
    line-height: 34px;
}

div.info-btn span {
    font-size: 4vh;
}

div.info-btn:hover,
div.info-btn button:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    div.info-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 1.2vh;
        right: 0;
    }

    #container {
        top: 8vh;
    }
}

#info-page {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 5vmin;
    width: 95%;
    max-width: 1000px;
    height: fit-content;
    max-height: 80%;
    background-color: rgba(12, 12, 12, 0.9);
    box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
    color: var(--light);
    font-family: 'Arial';
    text-align: center;
    color: white;
    word-wrap: break-word;
    overflow: auto;
}

#info-page h3 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 5vmax;
}

#info-page a {
    color: var(--light);
}

#info-page > p {
    font-size: 25px;
}

.change-log {
    margin-top: 100px;
    text-align: left;
    font-size: 16px;
}

.change-log h1 {
    font-size: 2rem;
    margin: 0;
}

.change-log span {
    color: var(--light);
    font-size: 20px;
}